body {
	text-align: center;
	min-width: 768px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2 {
margin-top: 10px;
margin-bottom: 9.5px;
font-size: 50px;
letter-spacing: -1px;
line-height: 1.1;
font-weight: 400;
color:#2c3e50;
}

.bodyweight-title {
	color: #c0392b;
}

#yumsweat_title {
	font-weight: 400;
	font-size: 50px;
	color: #2ecc71;
}

.sign-up {
	margin-top: 52px;
	margin-bottom: 0;
}

.container {
  max-width: 800px;
  margin: 100px auto 36px; 
}

img {
	width: 900px;
	height: auto;
	position: absolute;
	clip: rect(0, 900px, 400px, 0);
	margin-top: 100px;
	margin-bottom: 0;
}